/* 共通設定（リセット・スタイル） */
* {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    color: #ffffff;
    background-color: #07111f;
    font-family:'Noto Sans JP',sans-serif;
    /* font-family:
      "Yu Gothic", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; */
  }

  